<!-- header.ejs -->
<%- include('header.ejs', {cssFiles:["sub1.css"]}) %>

<!-- container -->
<div id="container">
    <div class="c1">
        <div class="c1_center">
            <div class="c1_top">
                <h2>"에프터블로우는 자연에서 얻는 신선한 재료와<br> 동물실험을 하지 않는 정직한 재료를 사용하여<br> 모든 제품을 손으로 만듭니다."</h2>
            </div>
            <div class="c1_bot">
                <div class="c1_bot_did1">
                    <img src="/img/sub1_cont/c1_img1.jpg" />
                    <div class="c1_bot_did1_text">
                        <h2>에프터 블로우는 어떤 이유에서도<br>
                            제품을 동물실험 하지 않고,<br>
                            동물실험을 거친 원재료조차<br>
                            사용하지 않습니다.</h2>
                        <p>직접 구매팀을 운영하며, 엄격한 기준을 바탕으로<br>
                            윤리적인 공정 여부를 확인합니다.<br>
                            믿을 수 있는 생산자로부터 직거래를 원칙으로 합니다.</p>
                    </div>
                </div>
                <div class="c1_bot_did1">
                    <img src="/img/sub1_cont/c1_img2.jpg" />
                    <div class="c1_bot_did1_text">
                        <h2>신선함은 에프터블로우 철학의<br>
                            핵심입니다.</h2>
                        <p>신선한 과일, 채소, 에센셜 오일, 최소한의 보존제와<br>
                            안전한 인공 성분을 사용하여 제품을 선보입니다.<br>
                            러쉬의 모든 제품은 베지테리언(Vegetarian)이며,<br>
                            그 중 약 90%는 식물성 원료로만 만든 비건(Vegan)입니다.</p>
                    </div>
                </div>
                <div class="c1_bot_did1">
                    <img src="/img/sub1_cont/c1_img3.jpg" />
                    <div class="c1_bot_did1_text">
                        <h2>이 모든 것은<br>
                            ‘고객은 항상 옳다’는 믿음과<br>
                            에프터블로우의 핵심 가치인<br>
                            직원들의 진심이 모여 얻은<br>
                            결실입니다.</h2>
                        <p>앞으로도 러쉬는 현시대에 필요한 제품과 서비스를<br>
                            제공할 것입니다.<br>
                            환경 보호를 위해 고민하고, 동물과 자연 그리고 사람이<br>
                            조화로운 세상을 만들기 위한 도전과 혁신에 앞장섭니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<%- include('footer.ejs',{jsFiles:["sub1.js","header.js"]}) %>





