<!-- header -->
<%- include("header.ejs",{cssFiles:["sub5.css"]})%>

<div id="container">
    <div class="c1">
        <div class="c1_center">
            <h2>스파</h2>
        </div>
    </div>
    <div class="c2">
        <div class="c2_center">
            <ul class="c2_gnb_1">
                <li class="on"><a href="#">제품정보</a></li>
                <li><a href="#">제품후기</a></li>
                <li><a href="#">배송/반품/교환 안내</a></li>
            </ul>
            <div class="tab_wrap">
                <div class="c1_tabOne">
                    <div class="c1_tabOne_box1">
                        <div class="c1_tabOne_textBoxVedio">
                            <iframe class="textBoxVedio"
                            src="https://www.youtube.com/embed/P0nqyTo85YI"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                            </iframe>
                        </div>
                        <div class="c1_tabOne_textBoxTop">
                            <h2>더 사운드 배쓰</h2>
                            <p class="c1_tabOneTop_t1">The sound bath</p>
                            <P class="c1_tabOneTop_t2">소리의 흐름 속에서 즐기는 편안한 입욕이 잃어버린 균형을 되찾아 안락한 휴식을 선물합니다.</P>
                        </div>
                        <img class="c1_tabOne_img" src="/img/sub5_cont/c5_img1.jpg">
                        <div class="c1_tabOne_textBoxBot">
                            <p>전신 마사지<br> 두명의 테라피스트가 동시에 선사 </p>
                            <p>소요시간 65분</p>
                            <p> 에프터 블로우의 대표향 <br>'텐더우드'로 읽어버린 균형 되찾기</p>
                        </div>
                    </div>
                    <div class="c1_tabOne_box2">
                        <div class="c1_tabOne2_textBoxTop">
                            <h2>에프터 블로우 바디 </h2>
                            <p class="c1_tabOne2Top_t1">After blow body</p>
                            <P class="c1_tabOne2Top_t2">천상의 보드라움이 피부위에 내려앉은 듯한 느낌 몸과 마음을 편안하게 이완시켜 보세요</P>
                        </div>
                        <img class="c1_tabOne2_img" src="/img/sub5_cont/c5_img2.jpg">
                        <div class="c1_tabOne2_textBoxBot">
                            <p>오일 마사지<br>어깨 마사지를 포함한 보디 마사지</p>
                            <p>소요시간 75분</p>
                            <p>충분한 이완, 자유로운 몸과 마음, 온전한 휴식</p>
                        </div>
                    </div>
                </div>
                <div class="c1_tabTwo">
                    <div class="tabTwo_1">
                        <ul>
                            <!-- <li><a href="#"><img src="" /></a></li>
                            <li><a href="#"><img src="" /></a></li>
                            <li><a href="#"><img src="" /></a></li>
                            <li><a href="#"><img src="" /></a></li>
                            <li><a href="#"><img src="" /></a></li>
                            <li><a href="#"><img src="" /></a></li>
                            <li><a href="#"><img src="" /></a></li> -->
                            <li><a href="#"><span>더보기</span></a>
                                <!-- <img src="" /></a> -->
                            </li>
                        </ul>
                    </div>
                    <div class="tabTwo_2">
                        <div>
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="c1_tabThree">
                    <h2>상품정보 제공고시</h2>
                    <table class="table01">
                        <tr>
                            <th>화장품법에 따라<br> 기재해야 하는 모든 성분</th>
                            <td>변성알코올,향료,정제수,비에이치티,하이드록시시트로넬알,리모넨,리날룰,시트로넬올,파네솔,시트랄,제라니올,아이소유제놀,유제놀,벤질알코올,쿠마린</td>
                        </tr>
                        <tr>
                            <th>사용할 때의 주의사항</th>
                            <td> 1) 화장품 사용 시 또는 사용 후 직사광선에 의하여 사용부위가 붉은 반점, 부어오름 또는 가려움증 등의 이상 증상이나 부작용이 있는 경우 전문의 등과 상담할 것<br>
                                 2) 상처가 있는 부위 등에는 사용을 자제할 것<br> 3) 보관 및 취급 시의 주의사항 가 어린이의 손이 닿지 않는 곳에 보관할 것 나 직사광선을 피해서 보관할 것</td>
                        </tr>
                        <tr >
                            <th>품질보증기준</th>
                            <td>본 제품에 이상이 있을 경우 공정거래위원회 고시 소비자 분쟁 해결 기준에 의해 보상해드립니다.</td>
                        </tr>
                    </table>
                    <h2>교환/반품/환불 안내</h2>
                    <table class="table01">
                        <tr>
                            <th>교환/반품 신청 방법</th>
                            <td>마이페이지 내 주문내역에서 신청가능하며,
                                반품 신청의 경우 택배회수 / 매장방문(일부 매장)중 선택하여 신청가능합니다.<br>
                                교환/반품 신청 기간 교환, 반품 신청은 배송이 완료된 후 15일 이내 가능합니다.</td>
                        </tr>
                        <tr>
                            <th>교환/반품 신청 기간</th>
                            <td>교환, 반품 신청은 배송이 완료된 후 15일 이내 가능합니다.<br>
                                고객님이 배송 받으신 상품의 내용이 표시∙광고의 내용과 다르거나 계약내용과 다르게 이행된 경우에는 배송 받으신 날로부터 3개월 이내, 혹은 그
                                사실을 알 수 있었던 날로 부터 30일 이내에 가능합니다.</td>
                        </tr>
                        <tr class="table-inner">
                            
                            <th>교환/반품/회수 비용</th>
                            <td><br>[택배 회수 반품]<br><br>

                                고객님의 사유에 의한 교환 및 반품은 회수 및 배송에 필요한 비용을 부담해주셔야 합니다.<br>
                                기본 비용은 교환 5,000원(회수비+배송비), 반품 2,500원(회수비)입니다.<br>
                                제주도 및 도서산간 지방에는 추가 운임이 발생합니다.<br>
                                당사의 사유(상품의 하자, 배송의 오류 등)로 인한 경우 교환 및 반품에 필요한 비용은 당사에서 부담합니다.<br><br>

                                [매장 방문 반품]<br><br>

                                올리브영 일반 주문 Green Olive 이상 등급 또는 오늘드림 주문에 한해서 별도 회수비 부담없이 반품 가능합니다.(단, 일부 매장만 가능)<br>
                                <br>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- footer -->
<%- include("footer.ejs",{jsFiles:["sub5.js","header.js"]}) %>
</body>

</html>