/* slider 구간 이미지 */
#header { overflow:hidden;}
.h_slider { width:100vw; height:42px; 
  overflow:hidden;
            } 
.h_slider .wrap { height:90px; transition:all .5s; }
.h_slider .wrap > a > img { width:100vw; height:42px;}

/* 메인메뉴 구간  */
.h_mainGnb { display:flex; justify-content:center; 
position:fixed; width:100%;
z-index:10; border-bottom:1px solid #fff;}
  
.h_mainGnb .h1_center { display:flex; justify-content:space-between; align-items:center;
     width:1200px; }

.h_mainGnb .h1_center h1 a { display:block; width:226px; height:40px; background-image:url(/img/header/logo_white.png);}


/* depth1메뉴 구간 */
.h_mainGnb .h1_center .depth1 { display:flex;  }
.h_mainGnb .h1_center .depth1 > li > a { display:block; padding:30px 25px; color:#fff;}
.h_mainGnb .h1_center .h1_center_icon { color:#fff;}
.h_mainGnb .h1_center .h1_center_icon > a  { margin-left:10px; color:#fff; }
.h_mainGnb .h1_center .h1_center_icon > a > i:nth-child(4) { display:none;}
  
/* deth2메뉴 구간 */
.d2 { width:100vw; height:0px; position:absolute; left:0; top:76px;
    display:flex; background-color:#fff; overflow: hidden;}
.d2 .d2_center { width:1200px; margin:0 auto; display:none; }
.d2 .d2_center .depth2 { width:400px; display:flex; margin:0 auto; line-height:80px; }
.d2 .d2_center .depth2 li { margin:0 10px; }
.d2 .d2_center  .depth2 li a {  color:#000; text-align:center;}
  
/* h_mainGnb에 on 붙었을때 */
.h_mainGnb.on { background-color:#fff;  top:0; left:0; }
.h_mainGnb.on .h1_center .depth1 {color:#000; background-color:#fff;}
.h_mainGnb.on .h1_center .depth1 > li > a {color:#000;}
.h_mainGnb.on .h1_center .h1_center_icon > a  { color:#000;}
.h_mainGnb.on .h1_center h1 a { background-image:url(/img/header/logo.png);}

/* h_mainGnb에 hover 붙었을때 */
.h_mainGnb:hover { background-color:#fff;}
.h_mainGnb:hover .h1_center .depth1 > li > a {color:#000;}
.h_mainGnb:hover .h1_center .h1_center_icon > a  { color:#000;}
.h_mainGnb:hover .h1_center h1 a { background-image:url(/img/header/logo.png);}

/* 영상 */
.vid_wrap{ height:100vh; overflow:hidden; position:relative; }
.vid_wrap .vid01 { position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);
   min-width:100%; min-height:100%; }

/* container  */
#container > div { height:80vh; display:flex; justify-content:center; align-items:center; }
.c1 { position:relative;  }
.c1 .c1_center {  width:1600px; margin:0 auto; }
.c1 .c1_center .c1_top_box { margin:50px 0 50px 30px;; font-size:30px; font-weight:600;}         
  /* 슬라이드 부분 */
.c1 .c1_center .c1_bot_box  { width:1500px;  overflow:hidden; margin:0 auto; }
.c1 .c1_center .c1_bot_box .slide { width:2520px; display:flex; transition:all .5s;}
.c1 .c1_center .c1_bot_box .slide .c1_boxs { text-align:center; }
.c1 .c1_center .c1_bot_box img { width:270px; margin-bottom:20px; padding:0 15px;  }
.c1 .c1_center .c1_bot_box .btns > div > i {  padding:20px 25px; background-color:rgba(0,0,0,.8);
   display:flex; justify-content:center; align-items:center;
    position:absolute; top:57%; transform:translateY(-57%); 
    font-size:20px; color:#fff; 
  z-index:9px;}
.c1 .c1_center .c1_bot_box .btns .prev > i { left:15px;}
.c1 .c1_center .c1_bot_box .btns .next > i {right:15px;}

.c2 { display:flex; justify-content:center;  }
.c2 .c2_center { width:1600px; display:flex; justify-content:space-between;}
.c2 .c2_left { width:800px; margin:45px 0;}
.c2 .c2_left .c2_swiper_top > p { margin:10px 0 15px 0;}
.c2 .c2_left .swiper-slide > a > img { width:160px; height:180px;}
.c2 .c2_left .swiper-slide > a > div > i { color:#000; font-size:20px; margin:10px 0; }
.c2 .c2_left .swiper-slide > a > .c2_title { color:#000;} 
.c2 .c2_left .swiper-slide > a > p { color:#000; margin-top:10px; }
.swiper, swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
  height:350px
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom,2px); }  
.c2 .c2_right { background-image:url("/img/main_cont/c2_bn2.png"); width:650px; height:500px; margin-right:30px } 

.c3 { display:flex; justify-content:center; }
.c3 .c3_center { width:1600px; transform:translateY(-50px);}
.c3 .c3_center .c3_box_1 { color:#000;  display:flex; justify-content: center; align-items: center;}
.c3 .c3_center .c3_box_1 > a { font-size:32px; color:#000; font-weight:700; }
/* p,img on 붙는 얘들 */
.c3 .c3_center .c3_box_1 > a > p { opacity:0; transform:translateY(50px); }
.c3 .c3_center .c3_box_1 > a > p.on { opacity:1; transform:translateY(0px);}
.c3 .c3_center .c3_box_1 > a > img { opacity:0; transform:translateY(50px); }
.c3 .c3_center .c3_box_1 > a > img.on {opacity:1; transform:translateY(0px); }

.c3 .c3_center .c3_box_1 .c3_box1_notice { width:300px; margin-right:20px;}
.c3 .c3_center .c3_box_1 .c3_box1_notice > p { transition:all .5s .6s;}
.c3 .c3_center .c3_box_1 .c3_box1_notice > img { width:300px; margin-top:10px;  transition:all .5s .4s; }
.c3 .c3_center .c3_box_1 .c3_box1_evnet { width:500px; margin-right:20px;}
.c3 .c3_center .c3_box_1 .c3_box1_evnet > p { transition:all .5s 1s; }
.c3 .c3_center .c3_box_1 .c3_box1_evnet > img { width:500px; margin-top:10px;  transition:all .5s .8s; }
.c3 .c3_center .c3_box_1 .c3_box1_cap { width:450px; margin-right:20px; }
.c3 .c3_center .c3_box_1 .c3_box1_cap  > p {  transition:all .5s 1.2s;}
.c3 .c3_center .c3_box_1 .c3_box1_cap  > img { width:450px; margin-top:10px;  transition:all .5s 1s;}

/* c4 */
.c4 { display:flex; justify-content:center; align-items:center;}
.c4 .c4_center { width:1600px; display:flex; }
.c4 .c4_center > img { width:1000px; height:400px; margin-right:15px;}
.c4 .c4_center .c4_box1_text { transform:translateY(250PX); opacity:0;}
.c4 .c4_center .c4_box1_text.on { transform:translateY(150PX); opacity:1; transition:all .5s;}
.c4 .c4_center .c4_box1_text > p { margin-top:10px; line-height:20px;}

/* c5 */
.c5 { display:flex; justify-content:center; align-items:center; margin-bottom:90px;}
.c5 .c5_center { width:1600px; display:flex; }
.c5 .c5_center > img { width:1000px; height:400px; margin-left:15px; }
.c5 .c5_center .c5_box1_text { width:600px;transform:translateY(250PX); opacity:0; text-align: end;}
.c5 .c5_center .c5_box1_text.on { transform:translateY(150PX); opacity:1; transition:all .5s;}
.c5 .c5_center .c5_box1_text > p { margin-top:10px; line-height:20px;}

/* footer */
#footer { display:flex; justify-content:center; background-color:#000; color:#fff;}
#footer .f1_center { width:1000px; margin:40px 0; display:flex; justify-content:space-between; }
#footer .f1_center .f1_box1_left .f1_left_email > input { width:380px; height:32px; border:none; 
  background-color:#222; color:#949494; padding-left:7px;}
#footer .f1_center .f1_box1_left .f1_left_email > button {width:30px; height:31px; border:none; 
  background-color: #222; color:#fff; cursor: pointer;  position:relative; top:1px; left:-35px;} 
#footer .f1_center .f1_box1_left .f1_left_email > p { margin:10px 0; font-size:14px; line-height:18px;}

#footer .f1_center .f1_box1_left .f1_left_call { margin:40px 0 30px 0; }
#footer .f1_center .f1_box1_left .f1_left_call_1 { font-weight:700; line-height:20px;}
#footer .f1_center .f1_box1_left .f1_left_call_2 { font-weight:700; line-height:20px;}
#footer .f1_center .f1_box1_left .f1_left_call_3 { margin-top:5px; font-size:12px; line-height:15px; }
#footer .f1_center .f1_box1_left .f1_left_call_4 { font-size:12px; line-height:15px; }

#footer .f1_center .f1_left_sns  {  margin-top:10px; }
#footer .f1_center .f1_left_sns > i  { font-size:30px; margin-right:5px; }

#footer .f1_center .f1_box1_right .f1_right_click { width:400px; 
  display:flex; justify-content:space-between; flex-wrap:wrap; margin-bottom:60px; margin-top:30px }
#footer .f1_center .f1_box1_right .f1_right_click > p  { width:130px; text-align:center; margin:10px 0; font-weight:700;}

#footer .f1_center .f1_box1_right .f1_right_address { line-height:22px; font-size:14px;}

/* 반응형 */
@media screen and (max-width:1000px) { 
.h_slider .wrap { height:90px; transition:all .5s; }
.h_slider .wrap > a > img { width:100vw; height:42px;}

/* 메인메뉴 구간  */
.h_mainGnb { display:flex; justify-content:center;position:fixed; width:100%; z-index:10; border-bottom:1px solid #fff;}
.h_mainGnb .h1_center { width:83%;  display:flex; justify-content:space-between; align-items:center;flex-wrap: wrap;}
.h_mainGnb .h1_center h1 a {margin:20px 0; display:block; width:226px; height:40px; background-image:url(/img/header/logo_white.png);}

/* depth1메뉴 구간 */
.h_mainGnb .h1_center .depth1 { display:flex;  margin-left:30%; }
.h_mainGnb .h1_center .depth1 > li > a { display:block; width:80px; padding:30px 0px; color:#fff; text-align:center;}
.h_mainGnb .h1_center .depth1 > li:nth-child(1) { margin-right:10px;}
.h_mainGnb .h1_center .h1_center_icon { width:110px; margin-left:83%; color:#fff; justify-content:flex-end; }
.h_mainGnb .h1_center .h1_center_icon > a > i { margin-left:10px; padding:30px 0px;}
.h_mainGnb .h1_center .h1_center_icon > i:nth-child(4) { display:none;}

  
/* deth2메뉴 구간 */
.d2 { display:none;}

/* container  */
/* c1 */
.c1 .c1_center {  width:90%;}
.c1 .c1_center .c1_top_box { margin:5px 0 50px 30px;}           
.c1 .c1_center .c1_bot_box  { width:83%;}

/* c2 */
.c2 .c2_right { background-image:url("/img/main_cont/1000_c2_bn2.jpg"); background-repeat:no-repeat; width:375px; height:415px; margin-right:50px; margin-top:30px; } 
/* c3 */
.c3 { display:flex; justify-content:center;  }
.c3 .c3_center { width:83%; transform:translateY(-50px);}
.c3 .c3_center .c3_box_1 > a { font-size:30px; color:#000; font-weight:700; }
.c3 .c3_center .c3_box_1 .c3_box1_notice { width:200px; margin-right:20px;}
.c3 .c3_center .c3_box_1 .c3_box1_notice > img { width:200px; margin-top:10px;  transition:all .5s .4s; }
.c3 .c3_center .c3_box_1 .c3_box1_evnet { width:400px; margin-right:20px;}
.c3 .c3_center .c3_box_1 .c3_box1_evnet > img { width:400px; margin-top:10px;  transition:all .5s .8s; }
.c3 .c3_center .c3_box_1 .c3_box1_cap { width:350px; margin-right:20px; }
.c3 .c3_center .c3_box_1 .c3_box1_cap  > img { width:350px; margin-top:10px;  transition:all .5s 1s;}

/* c4 */
.c4 { display:flex; justify-content:center; align-items:center;}
.c4 .c4_center { width:1600px; display:flex; }
.c4 .c4_center > img { width:1000px; height:400px; margin-right:15px;}
.c4 .c4_center .c4_box1_text { transform:translateY(250PX); opacity:0;}
.c4 .c4_center .c4_box1_text.on { transform:translateY(150PX); opacity:1; transition:all .5s;}
.c4 .c4_center .c4_box1_text > p { margin-top:10px; line-height:20px;}

/* c5 */
.c5 { display:flex; justify-content:center; align-items:center; margin-bottom:90px;}
.c5 .c5_center { width:1600px; display:flex; }
.c5 .c5_center > img { width:1000px; height:400px; margin-left:15px; }
.c5 .c5_center .c5_box1_text { width:600px;transform:translateY(250PX); opacity:0; text-align: end;}
.c5 .c5_center .c5_box1_text.on { transform:translateY(150PX); opacity:1; transition:all .5s;}
.c5 .c5_center .c5_box1_text > p { margin-top:10px; line-height:20px;}

/* footer */
#footer .f1_center { width:1000px; margin:40px 0; display:flex; justify-content:center; flex-wrap:wrap; }


}
@media screen and (max-width:640px) { 
.h_slider { width:100vw; height:42px; overflow:hidden;} 
.h_slider .wrap { height:90px; transition:all .5s; }
.h_slider .wrap > a > img { width:100vw; height:42px;}

/* 메인메뉴 구간  */
.h_mainGnb { display:flex; justify-content:center; 
position:fixed; width:100%;
z-index:10; border-bottom:1px solid #fff;}
.h_mainGnb .h1_center { width:83%;  display:flex; justify-content:space-between; align-items:center; flex-wrap: wrap;}
.h_mainGnb .h1_center h1 a {margin:20px 0; display:block; width:226px; height:40px; background-image:url(/img/header/logo_white.png);}

/* depth1메뉴 구간 */
.h_mainGnb .h1_center { width:90%;}
.h_mainGnb .h1_center .depth1 { display:flex;  margin-left:10%; }
.h_mainGnb .h1_center .depth1 > li > a { text-align:center; display:block; padding:15px 0px; width:80px; color:#fff;}
.h_mainGnb .h1_center .h1_center_icon { margin-left:75%;  justify-content:flex-end; }
.h_mainGnb .h1_center .h1_center_icon > a  { margin-left:10px; padding:30px 0px;  color:#fff;}
.h_mainGnb .h1_center .h1_center_icon > i:nth-child(4) { display:none;}
  
/* deth2메뉴 구간 */
.d2 { display:none;}

/* container  */
/* c1 */
#container > div { height:60vh; display:flex; justify-content:center; align-items:center; }
.c1 .c1_center { width:93%;}
.c1 .c1_center .c1_bot_box  { width:270px; overflow:hidden; margin:0 auto;}
.c1 .c1_center .c1_bot_box img { width:270px; margin-bottom:20px; padding:0 5px; margin-right:0px; }
.c1 .c1_center .c1_bot_box .btns .prev > i { left:30px;}
.c1 .c1_center .c1_bot_box .btns .next > i {right:30px;}

/* c2 */
.c2 .c2_right {display:none; } 
.c2 .c2_center { width:93%; display:block}
.c2 .c2_left { width:93%; margin:45px 0; }
.c2 .c2_center .c2_left > .swiper > .swiper-wrapper { width:34%;  } 

/* c3 */
.c3 { display:flex; justify-content:center; }
.c3 .c3_center { width:80%; transform:translateY(-50px);}
.c3 .c3_center .c3_box_1 > a { font-size:28px; color:#000; font-weight:700; }
.c3 .c3_center .c3_box_1 .c3_box1_notice { width:200px; margin-right:20px;}
.c3 .c3_center .c3_box_1 .c3_box1_notice > img { width:200px; margin-top:10px;  transition:all .5s .4s; }
.c3 .c3_center .c3_box_1 .c3_box1_evnet { width:300px; margin-right:20px;}
.c3 .c3_center .c3_box_1 .c3_box1_evnet > img { width:300px; margin-top:10px;  transition:all .5s .8s; }
.c3 .c3_center .c3_box_1 .c3_box1_cap { width:250px; margin-right:20px; }
.c3 .c3_center .c3_box_1 .c3_box1_cap  > img { width:250px; margin-top:10px;  transition:all .5s 1s;}

/* c4 */
.c4 { display:flex; justify-content:center; align-items:center;}
.c4 .c4_center { width:93%; display:block; }
.c4 .c4_center > img { width:100%; height:300px; margin-right:0px;}
.c4 .c4_center .c4_box1_text { transform:translateY(0PX); opacity:0;}
.c4 .c4_center .c4_box1_text.on { transform:translateY(30PX); opacity:1; transition:all .5s;}
.c4 .c4_center .c4_box1_text > p { margin-top:0px; line-height:20px;}

/* c5 */
.c5 { display:flex; justify-content:center; align-items:center; margin-bottom:30px;}
.c5 .c5_center { width:93%; display:block; }
.c5 .c5_center > img { width:100%; height:300px;; margin-left:0px;  }
.c5 .c5_center .c5_box1_text { width:600px; transform:translateY(0PX); opacity:0; margin-left:-50px; margin-bottom:60px;}
.c5 .c5_center .c5_box1_text.on { transform:translateY(30PX); opacity:1; transition:all .5s; ;}
.c5 .c5_center .c5_box1_text > p { margin-top:0px; line-height:20px;}

/* footer */
}

